@model BFStudio.Pages.Top.Models.TopModel

@{
    ViewBag.Title = "トップ";
}

<div class="col-md-5">
    <ul class="nav nav-tabs">
        <li><a href="#calendar-monthly" data-toggle="tab">月別</a></li>
        <li><a href="#calendar-dayly" data-toggle="tab">日別</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade in active">
           @Html.Partial("~/Pages/Schedule/Shared/_CalendarMonthly.cshtml", BFStudio.Pages.Schedule.Models.CalendarModel.CreateInstance(DateTime.Now))
        </div>
        <div id="calendar-dayly" class="tab-pane fade in active">
        </div>

    </div>
</div>
<div class="col-md-5">

</div>
<div class="col-md-2">

</div>

@Styles.Render("~/Content/calendar")