@cell-each-h:90px;
@cell-interval-h:10px;
@header-height:20px;
@cell-w:100px;

/*#region 色 */
@interval-bg-color:white;
@each-bg-color:green;
@header-bg-color:black;

/*#endregion */

/*#region 計算によって算出される値 */
@cell-h: @cell-each-h + @cell-interval-h;

@calendar-width: @cell-w*7;
@calendar-height: @cell-h*5 + @cell-each-h*5 + @header-height;
/*#endregion */

#calendar{
    background-color:blanchedalmond;
    z-index:1;
}
#calendar-monthly{
    width:@calendar-width;
    height:@calendar-height;

    border-radius:4px;
    
    tr{
        th{ //曜日
            text-align:center;
            background-color:@header-bg-color;
            height:@header-height;
        }
        &.each{
            
            div{
                width:@cell-w;
                height:@cell-each-h;
                background-color:@each-bg-color;
            }

            div:hover{
                background-color:lighten(@each-bg-color,10%);
            }
        }
        &.interval{
            
            div{
                width:@cell-w;
                height:@cell-interval-h;
                background-color:@interval-bg-color;
                text-align:center;
            }
        }
    }
    td{
        border-width:0;
        padding:0;
    }
}