@model BFStudio.MainPages.Top.Models.TopModel

@{
    ViewBag.Title = "トップ";

}

@section Scripts {

<script type="text/javascript">
    $(function () {
        var con = $.connection("/chat");
        con.start(function () {
            $("#chat-send").click(function () {
                var sender = $("#chat-send");
                var msgr = $("#chat-msg");
                var msg = msgr.val();
                
                con.send(msg);

                msgr.val(null);

            });
        });

        con.received(function (msg) {

            var list = $("#chat-hist");

            list.append("<div>" + getTemplate("user-info","") + getTemplate("",msg) + "</div>");
        });
    });

    function getTemplate(id, msg) {
        var temp = $("#" + id);
        temp.find(".template").html = msg;
        return temp;
    }
</script>

}

<ul id="user-info" style="display:none"><li><label class="template"></label></li></ul>
<ul id="msg" style="display:none"><li><label class="template"></label></li></ul>
<div>
    <div id="chat-hist">
        
    </div>
    <div>
        
        <input id="chat-msg" type="text"/>
        <input id="chat-send" type="button" value="送信"/>
    </div>
</div>